@import "variables.less";
@import "base.less";
@import "page.less";
@import "home.less";
@import "pagePlugin.less";
@import "pageTutorial.less";

.qBg {
  position: fixed;
  top: 100px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-image: url('/imgs/QYellow.png');
  background-repeat: no-repeat;
  min-width: 500px;
  min-height: 500px;
}
.container {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.block {
  box-shadow:
    0 2px 2px 0 fade(@dark, 14%),
    0 3px 1px -2px fade(@dark, 2%),
    0 1px 5px 0 fade(@dark, 12%);
  box-sizing: border-box;
  background-color: @light;
  border-radius: 4px;
  margin: 10px;
  padding: 5px;
  a {
    color: @light-link;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
  &.footer {
    width: 100% !important;
    text-align: center;
    background-color: @dark;
    color: @light;
    font-size: 1.2em;
  }
}
.tag {
  margin: 2px;
  padding: 2px;
  transition: none;
  cursor: pointer;
  color: @hightlight !important;
  font-weight: bold;
  transition: background-color 150ms ease-in, text-shadow 0 linear;
  &:hover, &.selected {
    border-radius: 2px;
    background-color: @light;
    color: @dark !important;
    text-decoration: none !important;
  }
  &.selected:hover {
    background-color: fade(@light, 50%);
  }
}
.coloredScrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: none; 
  }
  &::-webkit-scrollbar-thumb {
    background: desaturate(@hightlight, 20%); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: @hightlight;
  }
}