body {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
}
a {
  text-decoration: none;
  color: #FFF176;
  transition: color 150ms ease-in;
}
a:hover,
a:active {
  color: #FFFFFF;
}
.qBg {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/imgs/QYellow.png');
  background-repeat: no-repeat;
  min-height: 500px;
  min-width: 500px;
}
.container {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.home .block {
  box-sizing: border-box;
  width: 430px;
  padding: 5px;
  opacity: 0.9;
  transition: opacity 250ms ease-in;
}
.home .block.plugins,
.home .block.projects {
  padding: 0;
  overflow: hidden;
  height: 200px;
  opacity: 0.8;
  cursor: pointer;
}
.home .block.plugins:hover,
.home .block.projects:hover {
  opacity: 1;
}
.home .block.plugins .unavailable,
.home .block.projects .unavailable {
  transition: opacity 250ms ease-in;
  width: 430px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #1F1F1F;
  color: #FFFFFF;
  position: absolute;
  top: 100px;
}
.home .block.footer {
  width: 100%;
  text-align: center;
  background-color: #1F1F1F;
  color: #FFFFFF;
  font-size: 1.2em;
}
.block {
  background-color: #FFFFFF;
  border-radius: 3px;
  margin: 10px;
}
