body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
}
a {
  text-decoration: none;
  color: #FFF176;
  -webkit-transition: color 150ms ease-in;
  transition: color 150ms ease-in;
}
a:hover,
a:active {
  color: #FFFFFF;
}
.qBg {
  position: fixed;
  top: 100px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-image: url('/imgs/QYellow.png');
  background-repeat: no-repeat;
  /*background-position: 50% 100px;*/
  min-width: 500px;
  min-height: 500px;
}
.container {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.block {
  box-shadow: 0 2px 2px 0 rgba(31, 31, 31, 0.14), 0 3px 1px -2px rgba(31, 31, 31, 0.02), 0 1px 5px 0 rgba(31, 31, 31, 0.12);
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
}
.block a {
  color: #2196F3;
}
.block a:hover,
.block a:active {
  text-decoration: underline;
}
.block.footer {
  width: 100% !important;
  text-align: center;
  background-color: #1F1F1F;
  color: #FFFFFF;
  font-size: 1.2em;
}
.page {
  top: 50px;
}
.page .title {
  width: 100%;
  height: 100px;
  color: #FFFFFF;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  text-shadow: -1px -1px 2px #1F1F1F, 1px -1px 2px #1F1F1F, -1px 1px 2px #1F1F1F, 1px 1px 2px #1F1F1F;
}
.page .content {
  width: 675px;
}
.page .content .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.page .content .block {
  width: 655px;
}
.page .content .tag {
  color: #2196F3 !important;
}
.page .content .tag:hover,
.page .content .tag.selected {
  background-color: #2196F3;
  color: #FFFFFF !important;
}
.page .sidebar {
  max-width: 225px;
}
.page .sidebar .block {
  box-shadow: none;
  width: 205px;
  background-color: transparent;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page .sidebar .tag {
  text-shadow: -1px -1px 1px #1F1F1F, 1px -1px 1px #1F1F1F, -1px 1px 1px #1F1F1F, 1px 1px 1px #1F1F1F;
}
.page .sidebar .tag:hover,
.page .sidebar .tag.selected {
  text-shadow: none;
}
.page .sidebar a.header {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
}
.page .sidebar a.header:hover,
.page .sidebar a.header:active {
  color: #2196F3;
  text-decoration: underline;
}
.page .block {
  padding: 0 5px;
}
.page .block .header {
  height: 45px;
  line-height: 45px;
  font-size: 1.7em;
  font-weight: bold;
}
.page .block .header .sub {
  font-size: 0.8em;
}
.page .block .footer {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #1F1F1F;
  margin-top: 5px;
}
.home .block {
  width: 430px;
  opacity: 0.9;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}
.home .block.showcase {
  padding: 0;
  overflow: hidden;
  height: 200px;
  opacity: 0.8;
  cursor: pointer;
}
.home .block.showcase:hover {
  opacity: 1;
}
.docs .sidebar .block {
  display: block;
  background-color: #FFFFFF;
  color: #1F1F1F;
  padding: 5px;
}
.docs .content .block {
  padding: 5px;
}
.projects .block {
  width: 100%;
}
.projects .block.showcase {
  padding: 0;
  overflow: hidden;
  height: 200px;
  cursor: pointer;
}
.tag {
  margin: 2px;
  padding: 2px;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  color: #FFF176 !important;
  font-weight: bold;
  -webkit-transition: background-color 150ms ease-in, text-shadow 0 linear;
  transition: background-color 150ms ease-in, text-shadow 0 linear;
}
.tag:hover,
.tag.selected {
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #1F1F1F !important;
  text-decoration: none !important;
}
h1,
h2,
h3,
h4 {
  margin: 5px 0;
}
