body {
  margin: 0;
  padding: 0;
  background-color: #1F1F1F;
}
a {
  text-decoration: none;
  color: #FFF176;
  transition: color 150ms ease-in;
}
a:hover,
a:active {
  color: #FFFFFF;
}
.qBg {
  position: fixed;
  top: 100px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-image: url('/imgs/QYellow.png');
  background-repeat: no-repeat;
  min-width: 500px;
  min-height: 500px;
}
.container {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.block {
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 3px;
  margin: 10px;
  padding: 5px;
}
.home .block {
  width: 430px;
  opacity: 0.9;
  transition: opacity 250ms ease-in;
}
.home .block.plugins,
.home .block.projects {
  padding: 0;
  overflow: hidden;
  height: 200px;
  opacity: 0.8;
  cursor: pointer;
}
.home .block.plugins:hover,
.home .block.projects:hover {
  opacity: 1;
}
.home .block.plugins .unavailable,
.home .block.projects .unavailable {
  transition: opacity 250ms ease-in;
  width: 430px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #1F1F1F;
  color: #FFFFFF;
  position: absolute;
  top: 100px;
}
.home .block.footer {
  width: 100%;
  text-align: center;
  background-color: #1F1F1F;
  color: #FFFFFF;
  font-size: 1.2em;
}
.plugins {
  top: 50px;
}
.plugins .title {
  width: 100%;
  height: 100px;
  color: #FFFFFF;
  text-align: center;
  font-size: 5em;
  font-weight: bold;
}
.plugins .content {
  width: 675px;
}
.plugins .content .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.plugins .content .block {
  width: 655px;
}
.plugins .sidebar {
  max-width: 225px;
}
.plugins .sidebar .block {
  width: 205px;
  background-color: transparent;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.plugins .sidebar .tag {
  margin: 2px;
  padding: 2px;
  transition: none;
  cursor: pointer;
  color: #FFF176 !important;
  font-weight: bold;
  transition: background-color 150ms ease-in;
}
.plugins .sidebar .tag:hover {
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #1F1F1F !important;
}
.plugins .block {
  padding: 0 5px;
}
.plugins .block .header {
  height: 45px;
  line-height: 45px;
  font-size: 1.2em;
}
.plugins .block .desc {
  max-height: 121px;
  overflow: hidden;
}
.plugins .block .footer {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #1F1F1F;
  margin-top: 5px;
}
